@value colors: '../../components/tokens/colors.css';
@value spacing: '../../components/tokens/spacing.css';
@value white, cloud-grey, winter-grey, anthracite-grey, matter-grey, deep-sky-blue, deep-space-grey from colors;
@value spacing-1x, spacing-2x, spacing-3x, spacing-4x, spacing-5x, spacing-6x from spacing;

.container {
	padding:  1.4rem;
}

.cards {
	display: flex;
	flex-flow:  row;
	justify-content: space-between;
	margin-top:  2rem;
}

.card {
	width: max(32%, 300px)
}

.image {
	height:  120px;
	background-size:  contain !important;
}