@value colors: '../tokens/colors.css';
@value spacing: '../tokens/spacing.css';
@value shadows: '../tokens/shadows.css';
@value dynamic-ultra from colors;
@value spacing-1x, spacing-2x,  spacing-3x, spacing-4x, spacing-6x from spacing;
@value shadow-default from shadows;

.container {
	z-index: 98;
	width: 60px;
	display:  flex;
	flex-flow:  column nowrap;
	align-items: center;
	background:  #152238;
	border: 1px solid #333;
  box-shadow: 5px 0 7px -3px rgba(0,0,0,0.3);
}

.item {
	width:  100%;
	text-align: center;
	padding:  1rem 0;
}

.item.active {
	background:  rgba(255,255,255,0.2);
}

.item img {
	width: 32px;
}

.item svg {
	fill:  #fff;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    height:  60px;
    flex-flow:  row nowrap;
  }
}