@value colors: '../tokens/colors.css';
@value spacing: '../tokens/spacing.css';
@value white, matter-grey, anthracite-grey from colors;
@value spacing-2x, spacing-3x, spacing-4x, spacing-5x, spacing-6x from spacing;

.container {
  position: absolute;
  top: 121px;
  right:  0;
  width:  500px;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-flow:  row nowrap;
  align-items: center;
  padding:  1rem 1rem 1rem 1.4rem;
  justify-content: space-between
}

.body {
  display: flex;
  flex-flow:  column nowrap;
  padding:  1rem;
}

.carousel {
  margin-bottom: 1rem;
  text-align: center;
}

.image {
  width:  70%;
}

.listItem {
  justify-content: space-between !important;
}